[Unit]
Description=MTU1280 network namespace set up
Documentation=https://github.com/si-magic/mtu1280d/tree/master/netns
Requires=network.target
After=network.target

[Service]
Type=notify
EnvironmentFile=/etc/mtu1280/mtu1280-netns.env
ExecStartPre=-/usr/local/libexec/mtu1280/mtu1280-netns.sh rmns_q
ExecStart=/usr/local/libexec/mtu1280/mtu1280-netns.sh daemon
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target
